.top-bar {
    width: 100%;
    height: auto;
    background-color: rgb(143, 231, 183);
    display: flex;
    flex-direction: row;
    justify-content: start;
    font-size: 1.2rem;
}

#product-bar {
    background-color: rgb(143, 231, 183) !important;
    font-size: 1.2rem;
}

body {
    font-family: 'Abel', sans-serif;
}

body html {
    width: 100%;
    height: 100%;
}

article {
    width: 100%;
    min-height: 100%;
    display: flex;
  flex-direction: column;
  align-items: stretch;
}

main {
    display: flex;
    flex-direction: column;
    padding: 0 3rem;
    min-height: 81vh;
}

.top-bar a:first-of-type {
    padding-left: 25px;
}

.bar-link {
    padding: 8px 15px 8px 15px;
    color: rgb(0, 105, 0);
    
}

.bg-light {
    background-color: rgb(52, 214, 125) !important;
    font-size: 1.4rem;
}

a:visited {
    color: rgb(0, 105, 0);
}

.item-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
    font-style: italic;
}

.home-title {
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.item-subtitle, .home-subtitle {
    margin-bottom: 1rem;
}

.item-body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item-img {
    width: 25rem;
    padding-right: 3rem;
    padding-bottom: 2rem
}

.item-block {
    display: inline-block;
    vertical-align: top;
    max-width: 25rem;
    height: fit-content;
    margin: 2rem;
    margin-top: 0;
}

.item-info {
    font-size: 1.08rem;
}

.buy-button {
    border-radius: 10px;
    background-color: rgb(52, 214, 125);
    height: fit-content;
    width: fit-content;
    padding: 1rem;
    margin: 4rem;
    margin-top: 2rem;
    font-size: 1.5rem;
    color: rgb(0, 86, 0);
}

.buy-button.product-button {
    align-self: center;
}

#product-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.product-block {
    display: flex;
    flex-direction: column;
    width: 28%;
    margin: 1rem;
}

.product-block img {
    width: 100%;
}

.prank-main {
    margin-top: 4rem;
}

.citation-holder {
    display: inline-block;
    margin-left: 2rem;
}

.citation-holder p {
    
    display: inline;
    /* width: fit-content; */
    margin: 0;
}

.img-citation {
    display: inline-block;
}

.footer {
    /* width: 100%; */
    padding: 1em;
    background-color: #f4f2f3;
    flex-shrink: 0;
  }  

@media only screen and (max-width: 800px) {
    .product-block {
        width: 90%;
    }
    
    #product-holder {
        justify-content: center;
    } 

    .item-img {
        padding-right: 0;
        width: 100%;
        order: 0;
    }

    .buy-button {
        order: 1;
        margin: 2rem;
        margin-top: .5rem;
    }

    .item-block {
        order: 2;
    }

    .item-body {
        flex-wrap: wrap;
        justify-content: center;
    }

    .buy-button.product-button {
        margin: 2rem;
        margin-bottom: 1rem;
    }
}
  